ul {
  margin: 0;
  padding: 0;

}

.random_shit {
  list-style: none;
  /*padding: 0;*/
  border: 3px solid purple;
  position: relative;
}


.random_shit > li {
  border: 2px solid aqua;
  height: 200px;
  width: 200px;
  background-color: gray;
  float: left;

}

.epic_shit_text {
  border: 5px solid darkblue;
  height: 40;
  width: 20;
  background-color: lightpink;

}

.random_shit_numero_uno {
  background-image: url(./images/PurpleFlower.jpg);
}

.random_shit_numero_dos {
  background-image: url(./images/OrangeFlower.jpg);
}

.random_shit_numero_tres {
  background-image: url(./images/Pansies.jpg);
}

.random_shit_numero_cuatro {
  background-image: url(./images/pinkandwhiteflower.jpg);
}

.clear {
  clear: both;
}


.intro_gallery {
  list-style: none;
  border: 2px solid red;
  position: relative;
  margin-top: 50px;
}

.intro_gallery > li {
  border: 1px solid lightgreen;
  height: 200px;
  width: 200px;
  background-color: #ff00ff;
  /*background-size: 200px 200px;*/
  float: left;
  position: relative;
  text-align: center;


}

.intro_gallery > li:hover {
  height: 240px;
  width: 240px;
  top:-20px;
  left:-20px;
  /*position: relative;*/

}

.block_overlay_text {
  border: 1px solid blue;
  background-size: 80px;
  margin: 10;
  padding: 5;
  font-size: 16px;
  text-transform: uppercase;
  color: lightblue;


}





.intro_gallery_bracelets {
  background-image: url(./images/hpbracelets.jpg);

}

.intro_gallery_earrings1 {
  background-image: url(./images/scorpioearrings.jpg);

}

.intro_gallery_earrings2 {
  background-image: url(./images/skullearrings.jpg);

}

.intro_gallery_pendants {
  background-image: url(./images/volcanopendant.jpg);

}
